{{> head}}
{{> header}}

<article>
    <h1>Signed Out</h1>
    <p>{{goodbye_message}}</p>

    {{#session_info}}
        <p class="muted">Session ended: {{session_info}}</p>
    {{/session_info}}

    <div class="actions">
        <a class="btn primary" href="{{login_url}}">Sign In Again</a>
        {{#home_url}}
            <a href="{{home_url}}">Back to {{home_label}}</a>
        {{/home_url}}
    </div>
</article>

{{> footer}}